<!-- code fo the navbar starts -->
<nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color:cadetblue">
    <div class="container">
        <a class="navbar-brand" href="" style="font-size: 2rem;"> <img src="/images/logo.png" alt="" width="45"
                height="40" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav ml-auto" style="color:white;font-weight: bolder;">
                <li class="nav-item">
                    <a href="/" class="nav-link">Hello <%=user.name %></a>
                </li>
                <li class="nav-item">
                    <a href="/student/dashboard" class="nav-link">DashBoard</a>
                </li>
                <li class="nav-item">
                    <a href="/student/upload" class="nav-link">Add Doc</a>
                </li>
                <li class="nav-item">
                    <a href="/student/addNotes" class="nav-link">Add Notes</a>
                </li>
                <li class="nav-item">
                    <a href="/student/logout" class="nav-link">Logout</a>
                </li>
            </ul>
        </div>
    </div>

</nav>
<!-- code for the navbar ends -->
<!-- code for main section of documents starts -->
<section >
    <div class="fluid-container text-light p-3 bg-dark">
        <h3 class="text-center">Your Documents</h3>
        <p class="text-center text-info mb-0">
            <span>
                <img src="/images/ipfs-logo.png" alt="" width="40" height="40" />
            </span>
            Stored On Ipfs
        </p>
    </div>

    <div class="container p-2">
        <div class="row">

            <% hashes.forEach(hash=>{ %>
                <div class="col-lg-3 col-md-4 col-sm-6 m-3">

                    <div class="card border-success" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title text-dark">
                                <%= hash.name %>
                            </h5>



                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <i class="fa fa-link"></i>
                                    <a href="<%= hash.url %>" style="text-decoration: none;" target="_blank">Open
                                        Document</a>
                                </li>
                            </ul>
                            <p class=" mb-0" style="font-size: small; color: rgb(0, 0, 0);">
                                <span class>File Description</span>
                                <br>
                                <span class="text-secondary">
                                    <%= hash.description %>
                                </span>
                            </p>


                            <a href="<%= hash.url%>" class="btn btn-sm btn-success mt-2 float-right"
                                target="_blank">Open Document</a>

                        </div>
                    </div>

                </div>
                <% }) %>


        </div>
    </div>


    <div class="container-fluid  text-light p-3 ">
        <h3 class="text-center" style="color:black;font-family:cursive;">Your Saved Notes</h3>
        <p class="text-center text-info" style="font-family:cursive;">

            Stored on IPFS
        </p>
    </div>


    <div class="container p-2">
        <div class="row">

            <% texthashes.forEach(hash=>{ %>
                <div class="col-lg-3 col-md-4 col-sm-6 m-3">

                    <div class="card border-success" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title text-dark">
                                <%= hash.title %>
                            </h5>



                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <i class="fa fa-link"></i>
                                    <a href="<%= hash.url %>" style="text-decoration: none;" target="_blank">Open
                                        Document</a>
                                </li>
                            </ul>


                            <a href="<%= hash.url%>" class="btn btn-sm btn-primary mt-2 float-right"
                                target="_blank">Open Document</a>

                        </div>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>
</section>


<!-- code for the main section of documents ends -->